<ion-view view-title="滑动切换">
  <ion-content>
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page>
        <div class="card" style="margin:0px">
          <div class="item item-divider">
            chart 1
          </div>
          <div class="item" style="padding:0px">
            <div id="chart1"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="card" style="margin:0px">
          <div class="item item-divider">
            chart 2
          </div>
          <div class="item" style="padding:0px">
            <div id="chart2"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="card" style="margin:0px">
          <div class="item item-divider">
            chart 3
          </div>
          <div class="item" style="padding:0px">
            <div id="chart3"></div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>